
:local(.expenses) {
  display: block;
  // border-color: green;
  // border-style: solid;

  li {
    list-style-type: none;
  }

  section {
    display: flex;
    // justify-content: center;
  }
}
