
* {
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: rgb(232, 243, 202); 
  margin: 0;
}

main {
  padding: 8px;
  height: 100vh;
}

h2, h5 {
  text-align: center;
}

p {
  color: blue;
}

strong {
  padding: 10px;
}

form {
  display: flex;
  justify-content: center;
}

ul {
  margin:  0px;
  list-style-type: circle;
  // list-style-position: inside;
  padding-left: 75px;
  padding-right: 75px;
}

li {
  display: inline;
  list-style-type: circle;
}

button {
  display: inline-flex;
  padding: 3px;
  margin: 3px;
}

hr {
  height: 15px;
  margin: 30px -20px 20px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  background-color: rgb(156, 255, 107);
}
