
* {
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: rgb(232, 243, 202); 
  margin: 0;
}

main {
  // display: flex;
  // justify-content: center;
  padding: 8px;
  height: 100vh;
}

h2, h5 {
  text-align: center;
}

p {
  color: blue;
}

strong {
  padding: 10px;
}



form {
  display: flex;
  justify-content: center;
}

ul {
  margin:  0px;
  list-style-position: inside;
  padding-left: 75px;
  padding-right: 75px;
}

li {
  display: inline;
}
button {
  display: inline-flex;
  padding: 3px;
  margin: 3px;
}
