
* {
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: rgb(232, 243, 202); 
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  padding: 8px;
  height: 100vh;
}

h2, h5 {
  text-align: center;
}

button {
  align-items: center;
}
