:local(.error) {
  position: absolute;
  // top: 50%;
  left: 10%;
  color: white;
  background: rgb(255, 0, 0);
  // opacity: .7;
  // margin: 0;
  padding: 20px;
  text-align: center;
  width: 75%;
}