:local(.header) {
  background: rgb(175, 255, 47);
  padding: 10px;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
    }
  
    > h1 {
      font-size: 14pt;
      color: white;
      text-shadow: 1px 1px 1px black;
    }
  }

  .search-container {
    padding: 5px 0;
  }
  
  nav {
    ul {
      margin: 0;
      padding: 0;
    }
    
    li {
      list-style: none;
      display: inline-block;
      margin-left: 15px;
    }
    
    a {
      text-decoration: none;
      color: black;
      padding: 3px;
      box-sizing: border-box;
      border: 1px solid transparent;
      margin-right: 50px;
      
      &.active {
        color: white;
        border: 1px solid floralwhite;
      }
      
      &:not(.active):hover {
        color: darkorchid;
        border: 1px solid greenyellow;
      }
      

    }
  }
}
